/* src/styles/AdminSettings.css */

.admin-title{
    text-align: center; /* Align to the left */
    margin-bottom: 10px;
    margin-Left: 40px;
    font-size: 1.8em;
    font-weight: bold;
    color: #004085; /* Darker blue color */
    padding-bottom: 10px;
}
.table-container-settings {
    display: flex;
    justify-content: center; /* Center the table horizontally */
    margin: 0 auto; /* Center the table container */
}

.table-responsive {
    background-color: #ffffff; /* White background for the table */
    padding: 20px; /* Add padding around the table */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for a floating effect */
    border-radius: 10px; /* Rounded corners */
    max-width: 100%; /* Limit the max width of the table */
}

.table th {
    cursor: pointer;
    background-color: #f8f9fa; /* Light background for the table headers */
    text-align: center; /* Center align text in headers */
}

.table th, .table td {
    text-align: center; /* Center align text in table cells */
    vertical-align: middle; /* Vertically center text */
    padding: 12px; /* Increase padding for better spacing */
}

.modal.show {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: 100%;
    max-width: 700px; /* Increased max-width for a larger popup */
}

.text-center {
    margin-top: 60px; /* Adjust this margin to account for the height of the fixed header */
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1050;
    display: flex;
    justify-content: center;
    align-items: center;
}
.alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1050;
    transition: opacity 0.5s ease-in-out;
}

.alert.alert-success {
    background-color: #d4edda;
    color: #155724;
    padding: 15px;
    border-radius: 5px;
}

