.dashboard-title {
    text-align: left; /* Align to the left */
    margin-left: 40px;
    font-size: 1.8em;
    font-weight: bold;
    color: #004085; /* Darker blue color */
}

/* Overview section */
.overview-section {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.overview-card {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.overview-card h2 {
    font-size: 1.2em;
    color: #495057;
    margin-bottom: 10px;
}

.overview-number {
    font-size: 2.5em;
    font-weight: bold;
    color: #343a40;
}

.call-log-sections {
    width: 100%;
    display: flex;
    flex-wrap: wrap; /* Allow wrapping to next line */
    justify-content: space-evenly;
    align-items: flex-start;
}

.call-log-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Slightly larger shadow */
    width: 45%; /* Adjust based on desired spacing and number of cards per row */
    margin: 20px; /* Adjust margins for spacing */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth hover effect */
}

.call-log-section:hover {
    transform: scale(1.05); /* Slightly larger scale on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Larger shadow on hover */
}

.call-log-section h2 {
    font-size: 1.3em;
    margin-bottom: 15px; /* More space below heading */
    color: #004085; /* Darker blue color */
    display: flex; /* To align items horizontally */
    align-items: center; /* Vertically align icon and text */
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    font-weight: bold;
}

.call-log-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.call-log-detail {
    flex: 1;
    text-align: center;
    margin: 10px 0;
}

.call-log-detail strong {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #343a40;
}

.call-log-detail span {
    display: block;
    color: #6c757d;
}

.call-list-link {
    color: #007bff;
    text-decoration: underline;
}

.call-list-link:hover {
    text-decoration: none;
    color: #0056b3; /* Darker blue on hover */
}

/* Responsive Design */
@media (max-width: 768px) {
    .call-log-section {
        width: 90%;
        margin: 10px auto; /* Center on smaller screens */
    }

    .overview-card {
        width: 90%;
        margin: 10px auto;
    }
}
