.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.detailed-title {
    font-size: 1.8em;
    font-weight: bold;
    color: #004085;
    flex: 1; /* Take available space */
}

.date-range {
    font-size: 1.2em;
    font-weight: bold;
    color: #02090f;
    margin-right: 20px; /* Add some space between date and export button */
}

.export-dropdown {
    flex: 0; /* Keep dropdown button size */
    margin-left: auto;
}

.export-dropdown .dropdown-toggle {
    background-color: #158bdf;
    border-color: #158bdf;
    color: #f3f5f6;
}

.export-option {
    display: flex;
    align-items: center;
}

.export-option svg {
    margin-right: 8px;
}

.table-container-settings {
    display: flex;
    justify-content: center; /* Center the table horizontally */
    margin: 0 auto; /* Center the table container */
}

.table-responsive {
    background-color: #ffffff; /* White background for the table */
    padding: 20px; /* Add padding around the table */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for a floating effect */
    border-radius: 10px; /* Rounded corners */
    max-width: 100%; /* Limit the max width of the table */
}

.table th {
    cursor: pointer;
    background-color: #f8f9fa; /* Light background for the table headers */
    text-align: center; /* Center align text in headers */
}

.table th, .table td {
    text-align: center; /* Center align text in table cells */
    vertical-align: middle; /* Vertically center text */
    padding: 12px; /* Increase padding for better spacing */
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination .page-link {
    color: #007bff;
}

.pagination .page-item.active .page-link {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
}

.pagination .page-link:hover {
    background-color: #007bff;
    color: white;
}

.pagination .page-item.disabled .page-link {
    background-color: #e9ecef;
    color: #6c757d;
    border: 1px solid #dee2e6;
}

.main-content {
    padding: 20px;
}

.performance-title {
    margin-bottom: 20px;
}

.filters {
    margin-bottom: 20px;
}

.filters .select-container {
    position: relative;
}

.filters .select-container::after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

.table-responsive {
    margin-top: 20px;
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

th {
    cursor: pointer;
}

th.ascending::after {
    content: '\25B2';
    margin-left: 5px;
}

th.descending::after {
    content: '\25BC';
    margin-left: 5px;
}
