/* src/styles/Header.css */

.custom-header {
    background-color: #f8f9fa;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: calc(100% - 250px); /* Adjust this based on sidebar width */
    left: 250px; /* Adjust this based on sidebar width */
    z-index: 1001;
}

.custom-header-title {
    color: #0e4f95;
    font-weight: bold;
}

.custom-header-content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.custom-user-info {
    display: flex;
    align-items: center;
    position: relative;
}

.custom-current-time {
    margin-right: 15px;
    font-size: 1em;
    color: #101010;
}

.custom-profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.custom-user-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 15px;
}

.custom-user-name {
    font-weight: bold;
    color: #343a40;
}

.custom-user-designation {
    font-size: 0.8em;
    color: #6c757d;
}

.custom-dropdown {
    position: relative;
}

.custom-dropdown-toggle {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    font-size: 1.2em;
    display: flex;
    align-items: center;
}

.custom-dropdown-menu {
    position: absolute;
    top: calc(100% + 10px); /* Add margin from the top */
    right: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    min-width: 150px;
    overflow: hidden; /* Ensure it doesn't overflow */
}

.custom-dropdown-item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    color: #141515;
    transition: background-color 0.3s, color 0.3s;
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
}

.custom-dropdown-item:hover {
    background-color: #0e4f95;
    color: #fff;
}

.custom-dropdown-icon {
    margin-right: 10px;
    color: #007bff; /* Updated icon color */
}

button {
    background-color: #0e4f95;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #0056b3;
}
