.info-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    padding: 20px;
    border-radius: 10px;
  }
  
  .popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: move; /* Draggable cursor */
  }
  
  .close-btn {
    background: none;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
  }
  
  .popup-content {
    margin-top: 10px;
  }
  
  .info-icon {
    cursor: pointer;
    margin-right: 10px;
  }
  