
.performance-title{
    text-align: left; /* Align to the left */
    margin-bottom: 5px;
    font-size: 1.8em;
    font-weight: bold;
    color: #004085; /* Darker blue color */
    padding-bottom: 5px;
  }
  
  .title-and-search {
    display: flex; /* Enables flexbox layout */
    justify-content: space-between; /* Aligns elements to opposite ends */
    align-items: center; /* Vertically aligns elements on the same baseline */
    margin-bottom: 10px;
  }
  
  .title-and-search .search-bar {
    width: 300px; /* Adjust width as needed */
    padding: 5px;
    border: 1px solid #ccc; /* Optional border for better visibility */
    border-radius: 5px;
  }

.filters .col {
    display: flex;
    align-items: center;
}

.filters .col .dropdown,
.filters .col .form-control,
.filters .col .btn {
    flex: 1;
}
.filters {
    align-items: center;
    justify-content: space-between;
}


.filters .col:nth-last-child(1) {
    justify-content: flex-end;
}
.items-per-page {
    margin-right: 20px;
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination {
    list-style: none;
    display: flex;
    gap: 5px;
}

.pagination li {
    cursor: pointer;
    padding: 8px 12px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

.pagination li:hover {
    background-color: #003366;
    color: #fff;
}

.pagination li.active {
    background-color: #003366;
    color: #fff;
}
.table-responsive {
    overflow-x: auto;
}

.table th {
    cursor: pointer;
}

.table th.sorting:after {
    content: '\f0dc'; /* FontAwesome unicode for sort */
}

.table th.sorting_asc:after {
    content: '\f0de'; /* FontAwesome unicode for sort-up */
}

.table th.sorting_desc:after {
    content: '\f0dd'; /* FontAwesome unicode for sort-down */
}
