.sidebar {
  width: 250px;
  background-color: #f8f9fa;
  border-right: 1px solid #ddd;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: transform 0.3s ease;
  transform: translateX(0);
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar-content {
  padding: 20px;
}

.logo {
  width: 60%;
  display: block;
  margin: 0 auto 20px auto;
}

.sidebar-heading {
  margin-bottom: 20px;
  margin-left: 20px;
}

.heading {
  font-weight: bold;
  font-size: 1.3em;
  color: #0e4f95; /* Adjust color as needed */
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  margin-bottom: 20px;
}

nav ul li a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav ul li a .icon {
  margin-right: 10px;
}

nav ul li a:hover,
nav ul li a.active-link {
  background-color: #007bff;
  color: #fff;
}

.sidebar-toggle {
  display: none; /* Hide the toggle button by default */
  position: fixed;
  top: 15px;
  left: 15px;
  background: none;
  border: none;
  font-size: 1.5em;
  z-index: 1100;
  cursor: pointer;
  color: #007bff;
}

@media (max-width: 768px) {
  .sidebar {
      transform: translateX(-100%);
  }

  .sidebar.open {
      transform: translateX(0);
  }

  .sidebar-toggle {
      display: block; /* Show the toggle button on small screens */
  }

  .sidebar {
      transform: translateX(-100%); /* Hide sidebar by default on small screens */
  }
  
  .sidebar.open {
      transform: translateX(0); /* Show sidebar when open */
  }
}
