.app {
  display: flex;
  height: 100vh;
}

.main-content {
  margin-left: 250px; /* Adjust according to sidebar width */
  margin-top: 60px;
  padding: 20px; /* Adjust padding to reduce space at the top */
  background-color: #f5f5f5;
}

.content {
  flex: 1;
  overflow-y: auto;
} 